.App {
  text-align: center;
  background-color: #FFFF99;
  height:100%;
  width:100vw;
 /* background-image: url('C:\Users\Admin\Desktop\science_academy\src\images\5bcd6fef-0d62-434a-af23-d331077c2616.jpg'); */
 background-repeat: no-repeat;
 background-size: cover;
 overflow-x: hidden;
 
}
.mapcon{
  position:relative;
  height:30vh;
  width:100%;
}

/* @keyframes flow-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    transform: translateX(-80%);
    opacity: 0.2;
  }
  20% {
    transform: translateX(-60%);
    opacity: 0.4;
  }
  30% {
    transform: translateX(-40%);
    opacity: 0.6;
  }
  40% {
    transform: translateX(-20%);
    opacity: 0.8;
  }
  50% {
    transform: translateX(-10%);
    opacity: 0.9;
  }
  60% {
    transform: translateX(-5%);
    opacity: 0.95;
  }
  70% {
    transform: translateX(-2%);
    opacity: 0.98;
  }
  80% {
    transform: translateX(-1%);
    opacity: 0.99;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
} */
