.notice{
    background-image: url('C:\Users\Keshav Jha\OneDrive\Desktop\science_academy\science_academy\src\images\5bcd6fef-0d62-434a-af23-d331077c2616.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
